.main-container{
    margin-top: 40px;
    margin-bottom: 150px;
  }
  
  
   body{
    padding: 10px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 20px;
    margin-top: 10px;
    background-color: gray !important;
  }
  .chat{
  overflow-y:scroll;
  height:650px;
  }
  .app-mensajes, .text-right{
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: end;
  }

  .app-mensajesL, .text-left{
    // overflow-y:scroll;
    // height:270px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  
  /* Animaciones */
  .animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  
  .fast {
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }


  .custom-button {
    background-color:#4080FF; /* Replace with your custom color code */
    color: #fff; 
  }

  .color{
    background-color:#4080FF; 
    color: #fff;
  }

  .mensaje{
    margin-top: 10px;
    font-size: 30px;
    border-radius: 60px;
    align-items:left;
  }

  #test{
    font-size: 20px;
  }

  #mensajes{
    border-radius: 20px;
  }

  #button-addon2, #floatingInput{
    border-radius: 60px;
  }


#fondo {
    position: fixed;
    bottom: 0;
    left: 0;
    // width: 100%;
    // padding: 10px;
}

ion-toolbar{
  --background:#4080FF; 
}